* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(225, 177, 177);
}

#lista-tarefas {
    background-color:#551495;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 60vh;
    height: 80vh;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 8px 10px black;
}


header {
    width: 100%;
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

#lista-tarefas input {
    border-radius: 5px;
    padding: 3px;
}

form input {
    margin-top: 3px;
    margin-bottom: 3px;
}

#atividade {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

#btn-acao button {
    font-size: 18px;
    padding: 5px;
    transition: 0.2s;
    border-radius: 5px;
    margin-top: 15px;
}

#btn-acao #salvar:hover {
    background-color: rgba(0, 255, 94, 0.444);
    color: #fff;
}

#btn-acao #cancelar:hover {
    background-color: rgba(255, 0, 0, 0.471);
    color: #fff;
}

table {
    margin-top: 5%;
    width: 100%;
    color: #fff;
    border-collapse: collapse;
}

#tabela th,
#tabela td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}


#tabela th {
    background-color:rgb(225, 190, 32);
}

.coluna {
    color:black;
    font-size: 16px;
    font-weight: 100;
    height: 20px;
}

#extrasBtn {
    text-align: center;
}

.editar-btn {
   border: none;
   cursor: pointer;
   font-size: 1rem;
   background-color: transparent;
   color: #fff;
}

.excluir-btn {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: transparent;
    color: #fff;
}